<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss} %-4r [%t] %-5p %c %x - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.labsynch.labseer" level="info"/>
    <Logger name="com.mangofactory.swagger" level="error"/>
    <Logger name="org.springframework" level="info"/>
    <Logger name="org.springframework.orm" level="info"/>
    <Logger name="org.springframework.security" level="info"/>
    <Logger name="org.springframework.web" level="info"/>
    <Logger name="org.apache.catalina.core" level="info"/>
    <Logger name="org.apache.catalina.core.ContainerBase.[Catalina].[localhost]" level="info"/>

    <!-- Leaving debug transactions here but commented as it can be helpful for knowing when begin/commit of transaction is-->
    <!-- <Logger name="org.hibernate.engine.transaction.internal.TransactionImpl" level="debug"/>
    <Logger name="org.springframework.transaction" level="debug"/>
    <Logger name="org.springframework.orm.jpa" level="debug"/> -->
    <Root level="info">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>