<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{dd MMM yyyy HH:mm:ss} %-4r [%t] %-5p %c %x - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.labsynch.labseer" level="info"/>
    <Logger name="org.springframework" level="info"/>
    <Logger name="org.springframework.orm" level="info"/>
    <Logger name="org.springframework.security" level="info"/>
    <Logger name="org.springframework.web" level="info"/>
    <Logger name="org.apache.catalina.core.ContainerBase.[Catalina].[localhost]" level="info"/>
    <Root level="info">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>